
<h1><%= @todo_list.title %> - Adding Todo List Item </h1>

<%= form_for [@todo_list, @todo_item] do |f|%>

 <%= render partial: 'form', locals: {f: f} %> 
 <!--IF IM RENDERING A FORM, I NEED TO PASS HER THE FORM OBJECT, IN THIS CASE I USED A LOCAL VAR TRANSFER  THROUGH A BLOCK-->
<% end %>
